JWT_SECRET_KEY=jwt_scret_key
JWT_REFRESH_SECRET_KEY=jwt_refresh_secret_key
REFRESH_TTL_SEC=refresh_ttl_sec
NODE_ENV=node_env
PORT=server_port
ALLOWED_ORIGINS=allowed_origins

# EMAIL SMTP
EMAIL_HOST=email_host
EMAIL_PORT=email_port
SMTP_USERNAME=smtp_username
SMTP_PASSWORD=smtp_password
EMAIL_USE_TLS=use_tls
EMAIL_USE_SSL=use_ssl

# DATABASE
DB_USERNAME_DEV=db_username_dev
DB_PASSWORD_DEV=db_password_dev
DB_NAME_DEV=db_name_dev
DB_HOST_DEV=db_host_dev
DB_DIALECT_DEV=db_dialect_dev

DB_USERNAME_PROD=db_username_prod
DB_PASSWORD_PROD=db_password_prod
DB_NAME_PROD=db_name_prod
DB_HOST_PROD=db_host_prod
DB_DIALECT_PROD=db_dialect_prod

# DB POOL CONFIG
DB_MAX_CONNECTIONS=db_max_connections
DB_MIN_CONNECTIONS=db_min_connections
DB_IDLE_TIMEOUT=db_idle_timeout
DB_ACQUIRE_TIMEOUT=db_acquire_timeout

# REDIS CONNECTION
REDIS_URL_DEV=redis_url_dev
REDIS_URL_PROD=redis_url_prod

# GEOAPIFY API
GEOAPIFY_API_KEY=geoapify_api_key
GEOAPIFY_BASE_URL=geoapify_base_url

# PLATFORM CHARGES
TRUCK_FEE=truck_fee
TRUCK_PRICE_PER_KM=truck_price_per_km

MOTORCYCLE_FEE=motorcycle_fee
MOTORCYCLE_PRICE_PER_KM=motorcycle_price_per_km

BICYCLE_FEE=bicycle_fee
BICYCLE_PRICE_PER_KM=bicycle_price_per_km

# PAYMENT GATEWAY
PAYSTACK_SECRET_KEY=paystack_secret_key
PAYSTACK_BASEURL=paystack_baseurl
PAYSTACK_PUBLIC_KEY=paystack_public_key
PAYSTACK_CALLBACK_URL=paystack_callback_url

# CLIENT PALTFORM
CLIENT_URL=frontend_baseurl